# /etc/systemd/system/turtle.service
[Unit]
Description=turtle

[Service]
Type=simple
User=ros
Group=ros
WorkingDirectory=/home/ros/launch
ExecStart=/home/ros/launch/bootup_launch.sh
Restart=always
StartLimitIntervalSec=60
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
